/* BODY CONTENT */

#content {
    height: 100vh;
    width: 100%;
}



/* TABLE HEADER LAYOUT */

.table-header {
    display: grid;
    height: 80px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.table-header div {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    border-top: 2px solid rgb(43, 43, 43);
    border-bottom: 2px solid rgb(43, 43, 43);
    font-weight: 600;
    font-size: 2rem;
}

.drafts-light {
    background-color: var(--clr-drafts-light);
}

.urgent-light {
    background-color: var(--clr-urgent-light);
    border-left: 3px solid rgb(43, 43, 43);
}

.medium-light {
    background-color: var(--clr-medium-light);
    border-left: 3px solid rgb(43, 43, 43);
    border-right: 3px solid rgb(43, 43, 43);
}

.low-light {
    background-color: var(--clr-low-light);    
}



/* TABLE CONTENT LAYOUT */

.table-content {
    display: grid;
    height: calc(100vh - 80px);
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



/* TABLE CONTENT COLUMNS */

#urgent {
    border-left: 3px solid rgb(43, 43, 43);
}

#medium {
    border-left: 3px solid rgb(43, 43, 43);
    border-right: 3px solid rgb(43, 43, 43);
}



/* SINGLE ORDER TEMPLATES */

.single-order-container {
    height: 100px;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 3px solid rgb(43, 43, 43);
}

.single-order-container div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.dates-container div {
    justify-content: flex-start;
    width: 100%;
}

.address-container {
    justify-content: flex-end;
    width: 100%;
}

.name-container {
    justify-content: flex-end;
}